header {
    color: orange;
    font-size: 80px;
    background-color: rgb(2, 71, 71);
}
h1 {
    color: rgb(203, 173, 135);
    background-color: rgb(0, 0, 0);
}
p {

}

body{
    background-color: gold;
}