* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

body {
    background-color: rgb(173, 251, 255);
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgb(219, 180, 255);
}

p {
    margin-top: 10px;
    font-size: 25px;
}

.party-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.chef-task ,
.delivery-task,
.decor-task {
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.5);

}

.chef-task {
    background-color: #88dd88;
}

.delivery-task {
    background-color: #54b7d8;
}

.decor-task {
    background-color: #4232b7;
}

.pizza-flex-container ,
.delivery-flex-container,
.decor-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pizza-item,
.delivery-item,
.decor-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pizza-item i,
.delivery-item i,
.decor-item i{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.h2-heading {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
}

.pizza-item {
    color: #4232b7;
}
.delivery-item {
    color: rgb(193, 66, 66);
}
.decor-item {
    color: rgb(62, 26, 54);
}

.pizza-item i {
    color: #fd4130be;
}
.delivery-item i {
    color: #6be153;
}
.decor-item i {
    color: rgb(243, 55, 202);
}