*{
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;

}

header{
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: 600;
}
nav a{
    margin: 0 18px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}